.cart{
    padding: 5rem 2rem;
}

.cart-title{
    text-align: center;
}

.cart-title > h3{
    font-size: 24px;
    font-weight: 500;
}

.cart-subtitle{
    margin: 2rem 0;
}

.cart-subtitle > h2{
    font-weight: 400;
    font-size: 2.4rem;
}

.empty-cart{
    text-align: center;
}

.order{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}


.order-details{
    display: flex;
    flex-direction: column ;
    width: 50%;
    margin: 5px 0;
}

.order-title{
    font-size: 2.1rem;
    font-weight: 500;
    margin: 1rem 0;
}

.order-image{
    height: 18rem;
    border-radius: 5px;
}

.order-description{
    letter-spacing: 1px;
    margin: 1rem 0;
}

.order-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.star{
    display: flex;
    align-items: center;
}

.order-operand{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-operation{
    text-align: left;
    /* width: 100%; */
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 15px 1px;
}

.add{
    margin-right: 45px;
}

.sub{
    margin: 0 45px;
}
.operate{
    background-color: white;
    color: black;
    font-size: 1.4rem;
    border-radius: 50%;
    height: 1.6rem;
    width: 1.6rem;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    /* margin: 0 45px; */
}

.operate:hover{
    background-color: black;
    color: white;
}

.delete{
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.delete:hover{
    color: black;
}

.break{
    margin: 1.5rem 0;
}

.summary{
    margin: 2rem;
}

.price-collection{
    padding: 15px 45px;
}

.summary-price {
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
    margin:10px 0;
}

.btn-space{
    text-align: center;
}

.summary-btn{
    border: none;
    height: 2.4rem;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(90deg, rgba(208,28,29,1) 12%, rgba(0,212,255,1) 100%);
    color: #fff;
    text-align: center;
    /* transition: all 0.3s ease-in; */
}

.summary-btn:hover{
    /* background: rgb(0,255,239); */
    background: linear-gradient(90deg, rgba(0,255,239,1) 59%, rgba(208,28,29,1) 97%);
    color: black;
}

@media (max-width: 1100px){
    .order{
        padding: 0 1rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width:420px){
    body{
      padding: 0 0.8rem;
    }
    .mid{
      font-size: 0.8rem;
    }
    .logout{
      margin-left: 2rem;
    }
    
    .order-image{
        width: 18rem;
        object-fit: cover;
    }
    .order-details{
        width: 100%;
        padding: 0;
    }
    .summary{
        margin: 1rem 0;
    }
    .price-collection{
        padding: 5px 15px;
    }
    .summary-btn{
        width: 100%;
    }
    .cart-subtitle > h2{
        font-size: 2rem;
    }

    .order-title{
        font-size: 1.5rem;
    }
  }